* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Libre Baskerville", serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #450726;
}

.perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.perfil img {
  width: 24vh;
  border-radius: 50%;
  transition: transform 0.5s ease-in-out, border-radius 0.5s ease-in-out;
}

.perfil img:hover {
  transform: scale(2) translateY(-6vh);
  border-radius: 10%;
}

h1 {
  font-size: 4vh;
  margin: 2vh;
}

.botoes {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 4vh;
  gap: 2vh;
}

.botoes a {
  text-decoration: none;
  color: #1A4C4C;
  background-color: #DFECEC;
  padding: 2vh 4vh;
  border-radius: 4vh;
  font-size: 2vh;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.botoes a:hover {
  background-color: #EC79B2;
  color: #DFECEC;
}

.footer {
  position: absolute;
  margin-top: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vh;
}

.footer img {
  width: 8vh;
  transition: transform 0.3s ease-in-out;
}

.footer img:hover {
  transform: scale(1.4) translateY(-0.5vh);
}

h2 {
  color: #ed145b;
  font-weight: 300;
  font-size: 1.3vh;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.redes {
  list-style: none;
  display: flex;
  margin: 2vh;
  gap: 4vh;
}

.redes a {
  text-decoration: none;
  color: #450726;
  font-size: 5vh;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

.redes a:hover {
  transform: scale(1.5);
  color: #EC79B2;
}

p {
  font-size: 2vh;
  width: 50vh;
  line-height: 150%;
  margin: 2vh;
}

#home {
  background: linear-gradient(90deg, #B3E5E5 0%, #B2BBE5 100%);}

#infos {
  background: linear-gradient(90deg, #B2BBE5 0%, #D4B2E5 100%);
}

#dados {
  background: linear-gradient(90deg, #D4B2E5 0%, #E5B2CC 100%);}